/* ALL */
html, body {
    font-size: 1rem;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

header {
    width: 100%;
}

.row {
    width: 100%;
    margin: 0;
}

/* HEADER */
.imghg {
    padding: 1.5rem;
    text-align: center;
}

.div_button {
    margin: 2rem;
    text-align: center;
}

.num_button, .num_buttontransparent {
    padding: 0.938rem 1.563rem;
    border: 0.063rem solid;
    transition: all 0.4s ease;
}

.num_button {
    background-color: white;
}

.num_buttontransparent {
    background-color: transparent;
}

.num_button:hover, .num_buttontransparent:hover {
    background-color: black;
    color: white;
}

.menud {
    display: flex;
    justify-content: space-evenly;
}

.contain-nav, .contain-nav-xs {
    position: sticky;
    position: -webkit-sticky; /*pour safari*/
    background-color: white;
    top: 0;
    z-index: 1;
}

.contain-nav {
    padding-top: 1.65vh;
}

.contain-nav-xs {
    height: 7.5vh;
    padding-top: 2vh;
}

.nav {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #000;
    font-size: 0.813rem;
} 

.nav:hover {
    text-decoration: none;
    color: #000;
}

.sous {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 0.813rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0.521vw;
}

.sous li {
    color: black;
}

.sous li:hover {
    background-color: #ddd;
}

.sous li, .sous li a{
    color: black;
    text-decoration: none;
    display: block;
}

.burgernav {
    padding-left: 2vw;
}

/* Show the dropdown menu on hover */
.nav:hover .sous {
    display: block;
}

.menug {
    display: flex;
    justify-content: space-evenly;
}

.imghd {
    height: 3vh;
    width: auto;
}

.btn-secondary {
    color: black;
    background-color: white;
    border-color: black;
}

.reh {
    position: fixed;
    bottom: 1.5vh;
    right: 1vw;
    z-index: 1000;
}

.headerbut {
    padding-left: 15vw;
}

/* .contain-nav-xs{
    height: 7.5vh;
    width: 100%;
    position: relative;
    position: -webkit-sticky;  Pour Safari  
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;
    padding-top: 2vh;
    padding-left: -1vw;
} */



/*BODY*/
.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}

.mail_button {
    background-color: black;
    color: white;
    padding: 0.938rem 1.563rem;
    border: 0.063rem solid;
    transition: all 0.4s ease;
}

.mail_button:hover {
    background-color: grey;
}

.littlefont {
    font-size: 1.25rem;
    margin-left: 11.25vw;
}

.butmarg {
    background-color: transparent;
    color: white;
    border: 0.063rem solid;
}

.imgpcommun, .p1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
}

.p2 {
    background: url('../img/montagne.jpg') center / cover no-repeat fixed;
    color: white;
    width: 100%;
    padding: 2vh 0;
}

@supports (-webkit-touch-callout: none) {
    .p2 {
        background-attachment: scroll;
    }
}

.textp2 {
    font-size: 3.125rem;
    margin-left: 11.25vw;
}

.pintro, .pcommun {
    text-align: center;
    padding: 2.16vh 5.063vw;
}

.p5{
    list-style-position: inside;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
}

.carousel-indicators li {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    margin: 0 0.26vw;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    
}

.carousel-indicators .active {
    background-color: #fff;
    border: 0.063rem solid #000;
}

.form {
    text-align: center;
    padding: 5.5vh 5vw 0;
}

.celluleform {
    margin-top: 8vh;
    border: none;
}

.form-container {
    text-align: center;
    margin: 5vh auto;
    padding: 1.042vw;
    border: 0.063rem solid #000;
    width: 75%;
}

.form-control {
    border: none;
    border-bottom: 0.063rem solid #000;
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 0.125rem solid #000;
}

.btn-submit {
    background-color: #000;
    color: #fff;
    padding: 0.521vw 1.042vw;
    margin-top: 2vh;
    border-radius: 0;
}

.btn-submit:hover {
    background-color: #444;
}

.map {
    width: 100%;
    height: 60vh;
    border: 0;
    margin: 2.5vh 0;
}

/*FOOTER*/
footer {
    padding: 0.781vw;
    text-align: center;
    font-size: 0.813rem;
}


@media (max-width: 992px) { 
    /*ALL*/
    html, body {
        font-size: 1.5rem;
        overflow-x: hidden;
    }

    .contain-nav, .contain-nav-xs {
        position: fixed;
        background-color: white;
        top: 0;
        width: 100%; /* Pour s'assurer que le menu prend toute la largeur de l'écran */
        z-index: 1;
    }

    header .imghg{
        margin-top: 5vh;
    }

    .phone_menu {
        position: relative;
        left: -5.5vw;
    } 

    /*HEADER*/
    header {
        text-align: center;
    }

    .imghg{
        padding: 1.5rem;
        width : 250px;
        height : 175px;
    }

    .headerbut, .text-end, .text-start, .littlefont {
        text-align: center;
        margin: 0;
    }

    .text-end{
        margin-bottom: .5rem;
    }

    .text-start{
        margin-top: .5rem;
    }

    h5 b, h6 {
        font-size: 2rem;
    }
    
    /*BODY*/
    .p2 {
        text-align: center;
        background-attachment: fixed;
    }

    .textp2{
        margin-left: 0vw;
    }

    .num_button, .num_buttontransparent{
        padding: 0.938rem 2.6rem;
    }

    .mail_button{
        padding: 0.938rem 1.9rem;
    }

    .carousel-indicators li {
        margin: 0 0.3vw;
    }

    .btn{
        font-size: 1.5rem;
        padding: .5rem 1rem;
    }

    .reh{
        bottom: 2vh;
        right: 4vw;
    }
}